<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiConfig</key>
	<dict>
		<key>apikey</key>
		<string>100c5ac8b69942aa2b4db4ac08283f68</string>
	</dict>
	<key>apikey</key>
	<string>100c5ac8b69942aa2b4db4ac08283f68</string>
</dict>
</plist>
